{% extends 'index.html' %} {% block content %}
<div class="degradado bordeRedondeado2">
  <br />
  <h2 class="text-center">Reparación de bicicletas</h2>

  <form action="guardado" method="post">
    {% csrf_token %}

    <!-- 
    <input type="submit" value="Enviar Solicitud" name="" id="" class="btn btn-danger sombra">
     -->

    <div>
      <!--  class="foto-icon" -->

      <br />
      <br />

      <h4 class="text-center">Tipo bicicleta</h4>

      <br />
    </div>
    <br />


    <div class="row">
      <div class="col-2"></div>

      <div class="col-4 text-center">
        <h5 class="">Escoger bicicleta(s)</h5>
        <!--  -->
        <!--  -->
        <select id="bicicletasID" size="6" class="w-100 linea3 form-select">
          <optgroup label="Paseo" id="paseoID1">
            {% for i in tipo1 %}
            <option value="{{i.id}}">
              Color: {{i.color}} - Tamaño Aro: {{i.tamano_aro}}
            </option>
            {% endfor %}
          </optgroup>

          <optgroup label="Montaña" id="montanaID1">
            {% for i in tipo2 %}
            <option value="{{i.id}}">
              Color: {{i.color}} - Tamaño Aro: {{i.tamano_aro}}
            </option>
            {% endfor %}
          </optgroup>

          <optgroup label="Ciclismo" id="ciclismoID1">
            {% for i in tipo3 %}
            <option value="{{i.id}}">
              Color: {{i.color}} - Tamaño Aro: {{i.tamano_aro}}
            </option>
            {% endfor %}
          </optgroup>
        </select>

        <br />
        <br />
        <button
          type="button"
          id="agregarID"
          class="w-100 bordeRedondeado fondo2 titulo-arriendo"
        >
          Agregar
        </button>
      </div>
      <div class="col-4 text-center">
        <h5 class="">Bicicleta(s) por Arrendar</h5>

        <select id="carritoID" size="6" class="linea3 w-100 form-select">
          <optgroup label="Paseo" id="paseoID2"></optgroup>

          <optgroup label="Montaña" id="montanaID2"></optgroup>

          <optgroup label="Ciclismo" id="ciclismoID2"></optgroup>
        </select>

        <textarea
          name="listaBicis"
          hidden
          id="ocultoID"
          cols="30"
          rows="1"
        ></textarea>
        <br />
        <br />
        <button
          type="button"
          id="eliminarID"
          class="w-100 bordeRedondeado fondo2 titulo-arriendo"
        >
          Eliminar
        </button>
      </div>

      <div class="col-2"></div>
    </div>

    <br />
    <br />

    <div class="row">
      <div class="col-2"></div>
      <div class="col-6">
        <div class="row fondo2 bordeRedondeado2">
          <div class="col-6 bordeRedondeado2 fondo2">
            <center>
              <br />
              <label for="" class="titulo-arriendo"
                >Fecha Inicio Arriendo</label
              >
              <br />
              <br />
              <input type="date" name="fechaInicio" id="" />
            </center>
            <br />
            <br />
          </div>
          <div class="col-6">
            <center>
              <br />
              <label class="titulo-arriendo" for=""
                >Fecha Término Arriendo</label
              >
              <br />
              <br />
              <input type="date" name="fechaFin" id="" />
            </center>
            <br />
            <br />
          </div>
        </div>
      </div>
      <div class="col-2"></div>
    </div>

    <!-- codigo eliminado 1 -->

    <br />
    <br />
    <center>
      <h5 class="">Forma Pago</h5>
    </center>
    <br />

    <div class="row">
      <div class="col-2"></div>

      <div class="col-6">
        <div class="bordeCuadrado fondo-blanco sombra">
          <center>
            <input type="radio" name="formaPago" value="2" />
            <label for="" class="subtitulo-arriendo">Débito</label>
            <img
              src="../static/assets/credito-debito/debito.png"
              class="img2"
              alt=""
            />
          </center>
        </div>
        <br />
        <div class="bordeCuadrado fondo-blanco sombra">
          <center>
            <input type="radio" name="formaPago" value="1" />
            <label for="" class="subtitulo-arriendo">Crédito</label>
            <img src="../static/assets/credito-debito/credito.png" alt="" />
          </center>
        </div>
      </div>
      <div class="col-2"></div>
    </div>
    <br />
    <br />
    <h5 class="text-center">Depósito Garantía</h5>
    <br />
    <h4>
      <input
        type="number"
        class="subtitulo-arriendo bordeRedondeado padding1 fondo-blanco sombra"
        value="8000"
        name="garantia"
      />
      <!-- <label for="" ></label> -->
    </h4>
    <br />
    <br />
    <input
      type="submit"
      value="Enviar Solicitud"
      name=""
      id=""
      class="btn btn-danger sombra"
    />

    <br />
    <br />
    <br />
  </form>
</div>
{% endblock %}
