{% extends 'index.html' %} {% block content %}
<div class="container login_cont">
  <div class="foto-icon">
    <img src="../static/assets/icon.png" alt="icono" class="icono" />
    <h2 class="display-3 titulo-texto">MasterBikes</h2>
  </div>
  <form method="POST" action="" autocomplete="off">
    {% csrf_token %}
    <br />
    <div class="form-floating mb-3">
      <input
        type="username"
        class="form-control"
        id="usernome"
        name="username"
        required
        placeholder="username"
      />
      <label for="idusername" class="form-label">Usuario</label>
    </div>
    <br />
    <div class="form-floating">
      <input
        type="email"
        class="form-control"
        id="id_email"
        name="email"
        required
        placeholder="Correo electrónico"
      />
      <label for="email" class="form-label">Correo electrónico</label>
    </div>

    <br /><br /><br />
    <div class="d-grid gap-2">
      <button type="submit" class="btn btn-danger boton1">
        Recuperar Contraseña
      </button>
    </div>
  </form>
</div>
<div class="login_foto"></div>

{% endblock %}
