{% extends 'index.html' %} {% block content %}

<div class="login_foto">
</div>
<div class="container login_cont">
  <div class="foto-icon">
      <img src="../static/icon.png" alt="icono" class="icono">
      <h2 class="display-3 titulo-texto">MasterBikes</h2>
</div>

<form method="POST" action="" autocomplete="off">
  {% csrf_token %}
  <br>
  <div class="form-floating">
    <input type="text" class="form-control" id="id_username" name="username" required placeholder="Usuario"/>
    <label for="username" class="form-label">Usuario</label>
  </div>

  <br>

  <div class="form-floating">
    <input
      type="email"
      class="form-control"
      id="id_email"
      name="email"
      required
      placeholder="Correo electrónico"
    />
    <label for="email" class="form-label">Correo electrónico</label>
  </div>

  <br>

  <div class="form-floating">
    <input
      type="password"
      class="form-control"
      id="id_password1"
      name="password1"
      required
      placeholder="Contraseña"
    />
    <label for="password" class="form-label">Contraseña</label>
  </div>

  <br>

  <div class="form-floating">
    <input
      type="password"
      class="form-control"
      id="id_password2"
      name="password2"
      required
      placeholder="Contraseña"
    />
    <label for="confirm-password" class="form-label"
    >Confirmar contraseña</label
  >
  </div>
  <br>
  <br><br><br>
  <div class="d-grid gap-2 ">
  <button type="submit" class="btn btn-danger boton1">Registrase</button>
  </div>

</form>


  </div>
</div>
{% endblock %}
