*{
  margin: 0 auto;
  box-sizing: border-box;
  width: 97%;
}

body {
  font-family: Arial, sans-serif;
  position: relative;
}

body::after {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url("../assets/fondo.jpg") center center no-repeat;
  background-size: cover;
  filter: brightness(.7) saturate(.4) blur(5px) ;
  z-index: -1;
}

a{
  color: black;
}
/*  
.card {
    width: 300px;
    margin: 0 auto;
    margin-top: 100px;
  }
*/  
.containerLuis{
  display: flex;
  width: 900px;
  margin: auto;
  margin-top: 60px;
  align-items: center;
}

.login_cont, .login_foto{
    background: rgba(255, 255, 255, .5);
    box-shadow: 0 5px 15px rgba(0, 0,0, .5);    
    backdrop-filter: blur(15px); 
    display:flex;
    flex-direction: column;
    width: 90%;
    margin-left: 0.1px;
    margin-top: 0.5px;
    border-radius: 2%;
}
.titulo-texto{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #ff2f00;

}
.login_foto{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70%;
  height: 100%;
  background-image: url("../assets/login_foto.jpg");
  background-image: rgba(255, 255, 255, .15);
  background-size: cover;
  border-radius: 2%;
  filter: blur(1px) grayscale(10%) brightness(80%);  
}

.form-floating{
  width: 300px;
}
.foto-icon{
  display: flex;
  align-items: center ;
}
.icono{
  height: 50px;
  width: 50px;
  margin-right: 10px;
}

.btn{
  border-radius: 30px;
  padding: 1rem;
  border: 1px solid gray;
}

input, label{
  color: darkgray;
  border: 1px solid gray;
}

.help{
  text-decoration: none;
  font-weight: bold;
  color: #333333;
}

.navbar{
  border-radius: 0 0 15px 15px;
}

.error{
  font-size: smaller;
  color: orangered;
}

.bg-arriendo{
  background: rgba(255, 255, 255, .5);
  box-shadow: 0 5px 15px rgba(0, 0,0, .5);    
  backdrop-filter: blur(15px); 
  border-radius: 15px;
}