*{
  margin: 0 auto;
  box-sizing: border-box;
  width: 97%;
}

body {
  font-family: Arial, sans-serif;
  background-image: url("../assets/fondo.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-color: rgba(255, 249, 249, 0.7);
  overflow: auto;

}

body::after {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url("../assets/fondo.jpg") center center no-repeat;
  background-size: cover;
  filter: brightness(.7) saturate(.4) blur(5px) ;
  z-index: -1;
}

a{
  color: black;
}
/*  
.card {
    width: 300px;
    margin: 0 auto;
    margin-top: 100px;
  }
*/  
.container{
  display: flex;
  height: 600px;
  width: 900px;
  margin: auto;
  margin-top: 60px;
  align-items: center;
}

.login_cont{
    background: rgba(255, 255, 255, .5);
    box-shadow: 0 5px 15px rgba(0, 0,0, .5);    
    backdrop-filter: blur(15px); 
    display:flex;
    flex-direction: column;
    width: 90%;
    margin-left: 0.1px;
    margin-top: 0.5px;
    border-radius: 2%;
}
.titulo-texto{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #ff2f00;

}
.login_foto{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70%;
  height: 100%;
  background-image: url("../assets/login_foto.jpg");
  background-image: rgba(255, 255, 255, .15);
  background-size: cover;
  border-radius: 2%;
  filter: blur(1px) grayscale(10%) brightness(80%);  
} 

.form-floating{
  width: 300px;
}
.foto-icon{
  display: flex;
  align-items: center ;
}
.icono{
  height: 50px;
  width: 50px;
  margin-right: 10px;
}

.btn{
  border-radius: 30px;
  padding: 1rem;
  border: 1px solid gray;
}

input, label{
  color: darkgray;
  border: 1px solid gray;
}

.help{
  text-decoration: none;
  font-weight: bold;
  color: #333333;
}

.navbar{
  border-radius: 0 0 15px 15px;
}

.error{
  font-size: smaller;
  color: orangered;
}
/* Bastian */
.titulo-arriendo{
  
    font-family: 'Segoe ui variable display', Tahoma, Geneva, Verdana, sans-serif;
    color: #ff2f00;
    font-weight: bold;
    
  }

.subtitulo-arriendo{
    
    font-family: 'Segoe ui variable display Semibold', Tahoma, Geneva, Verdana, sans-serif;
    color: #707070;
    font-size: medium;
    
}

.bordeRedondeado{
    margin: auto;
    border: 1px solid gray;
    border-radius: 10px 10px 10px 10px;
}

.bordeRedondeado2{
    margin: auto;
    border: 1px solid gray;
    border-radius: 20px 20px 20px 20px;
}

.bordeRedondeado3{
    margin: auto;
    border: 1px solid gray;
    border-radius: 40px 40px 40px 40px;
}

.bordeCuadrado{
    border: 1px solid gray;
}

.centro{
    margin: auto;
}

/* Coloca los elementos en linea... */
.linea3{
    display: inline-block;
}



  
.img1{
    height: 100px;
    border-radius: 20px 20px 20px 20px;
}

.img2{
    height: 40px;
}

.padding1{
    padding: 1%;
}

/*
    Separacion entre los elementos de un 10%
*/
.separacion{

    margin-left: 5%;
    margin-right: 5%;

}

.fondo-blanco{
    background-color: white;
}

.fondo2{
    background-color: #e5e0e0;
}

.fondoNegro{
    background-color: black;
}

.degradado{
        
    background:linear-gradient(rgba(255, 255, 255, .5) 100%, #ff7455);
    background:-webkit-linear-gradient(rgba(255, 255, 255, .5) 100%, #ff7455);
    background:-moz-linear-gradient(rgba(255, 255, 255, .5) 100%, #ff7455);
    background:-o-linear-gradient(rgba(255, 255, 255, .5) 100%, #ff7455);
    background:-ms-linear-gradient(rgba(255, 255, 255, .5) 100%, #ff7455);

}

.sombra{
    box-shadow: 5px 5px 10px gray;
}

/*
    ---> Eliminados...
    

.textoNaranjo{
    
    font-family: 'Segoe ui variable display', Tahoma, Geneva, Verdana, sans-serif;
    color: #ff2f00;

}


.tirarAlaDerecha{
    float: right;
}

.padding1{
    padding-left: 2%;
    padding-right: 2%;
}






*/

/*
Borde...
- Gris claro.
- Redondeado.
*/


.borde3{

    border: 1px solid #e5e0e0;
    border-radius: 10px 10px 10px 10px;

}

