
  .login_foto{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70%;
    height: 100%;
    background-image: url("../assets/login_foto.jpg");
    background-image: rgba(255, 255, 255, .15);
    background-size: cover;
    border-radius: 2%;
    filter: blur(1px) grayscale(10%) brightness(80%);  
  } 
  .btn{
    border: 1px solid gray;
  }
  
body {
    font-family: Arial, sans-serif;
    background-image: url("../assets/fondo.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color: rgba(255, 249, 249, 0.7);
    overflow: auto;
  
  }
